.expandedlayout {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2px;
  flex-shrink: 10;
}

.inviscontainer {
  display: flex;
  justify-content: space-evenly;
}

.Small-Container {
  flex-flow: column;
}

.bbutton {
  width: 20%;
  color: rgb(255, 255, 255);
  background-color: #43b4f3;
  box-shadow: -4px 4px 7px 1px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}

.bbutton:hover {
  width: 25%;
  box-shadow: -4px 4px 7px 1px #43b4f3;
}

.descriptionBox {
  white-space: pre-wrap;
}

.btn-highlighted {
  border: none;
}

@media screen and (max-width: 915px) {
  
  .expandedlayout {
    flex-flow: column;
  }
}