<div class="expandedlayout">
        <div class="MainBox ExpProjectBox mb-4 box-layout">
            <h2>@name</h2>
            @if (CreatedBy != null)
            {
                <h5>@CreatedBy</h5>
            }
            else
            {
                <h5>No Author</h5>
            }
            <br>
            <div class="descriptionBox">@description</div>
        </div>

        <div class="Exp-small-container">
            <div class="ExpProjectBox SmallBox mb-4 box-layout">
                <p>hej</p>
            </div>
            <div class="ExpProjectBox SmallBox mb-4 box-layout">
                <p>med</p>
            </div>
            <div class="ExpProjectBox SmallBox mb-4 box-layout">
                <p>dig</p>
            </div>
        </div>
</div>

@code {
    [Parameter] public int id { get; set; }
    [Parameter] public string name { get; set; }
    [Parameter] public string CreatedBy { get; set; }
    [Parameter] public string description { get; set; }
}