@inherits LayoutComponentBase

    <div class="loading-screen-fullscreen">
        <h3 class="loading-text">   Loading...</h3>
        <img class="loading-img" src="/images/loadingBook_small.gif" alt="Loading screen from url: https://glory-academy.org/pages/home"> 
    </div>