@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <!-- Hello, @context.User.Identity?.Name! -->
        <a class="nav-link" href="" @onclick="BeginLogout">Log out</a>
        <!-- <button class="button-like" @onclick="BeginLogout">Log out</button> -->
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="authentication/login">Log in</a>
        <!-- <button class="button-like" href="authentication/login">Log in</button> -->
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
