@inherits LayoutComponentBase

<div class="page">
    <main>
        <div style="height: 90px;" class="top-row px-4 auth">
            <div>
                <a href="/">
                    <BigLogo></BigLogo>
                </a>
            </div>
            <div style="width: 230px; display: flex; align-items: flex-start;">
                <LoginDisplay />
                <!--<button class="button-like" href="https://docs.microsoft.com/aspnet/" target="_blank">About</button> -->
                <a class="nav-link" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
        </div>


        <article>
            @Body
        </article>
    </main>
</div>