.page {
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.top-row {
  color: #f3f3f3;
  background-color: #43b4f3;
  box-shadow: -1px 1px 5px 0.5px rgba(0, 0, 0, 0.2);

  height: 190px;

  justify-content: space-between;
  height: 4.2rem;
  display: flex;
  align-items: center;
}

.top-row ::deep a,
.top-row ::deep .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;
}

.top-row ::deep a:hover,
.top-row ::deep .btn-link:hover {
  text-decoration: underline;
}
