@inherits LayoutComponentBase

<div class="page">
    <main>
        <div style="height: 90px;" class="top-row px-4 auth">
            <div>
                <a href="/">
                    <BigLogo></BigLogo>
                </a>
            </div>
            <div style="display: flex; align-items: flex-start; flex-grow: 1.0">
                <LoginDisplay />
                <!--<button class="button-like" href="https://docs.microsoft.com/aspnet/" target="_blank">About</button> -->
                <a class="nav-link" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <SearchBar></SearchBar>

        </div>

        <ProjectFeedNavBar></ProjectFeedNavBar>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>