.page {
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.top-row {
  height: 90px;
  padding-left: 50px;
  padding-right: 39px;

  color: #f3f3f3;
  background-color: #43b4f3;
  box-shadow: -1px 1px 5px 0.5px rgba(0, 0, 0, 0.2);

  justify-content: space-between;
  display: flex;
  align-items: center;
}

.top-row ::deep a,
.top-row ::deep .btn-link {
  white-space: nowrap;
  text-decoration: none;
}

.top-row ::deep a:hover,
.top-row ::deep .btn-link:hover {
  text-decoration: underline;
}

@media (max-width: 650px) {
  .top-row {
    padding-left: 20px;
    padding-right: 6px;
  }
}
