.passiveTag {
  /* 
  padding-top: 6px;
  padding-bottom: 6px;
  */

  height: 34px;
  padding-top: 2px;
  min-width: 36px;

  padding-left: 15px;
  padding-right: 15px;

  margin: 5px;

  font-style: normal;
  font-weight: 500;
  color: #2c3536;

  background: #fefefe;
  background-color: #fefefe;

  border-color: #2c3536;
  border-width: 3px;
  border-radius: 25px;
}
