.passiveTag {
  /* 
  padding-top: 6px;
  padding-bottom: 6px;
  */
  padding-top: 2px;
  font-size: 12vw;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;

  margin: 5px;

  font-style: normal;
  font-weight: 500;
  color: #2c3536;

  background: #fefefe;
  background-color: #fefefe;

  border-color: #2c3536;
  border-width: 2px;
  border-radius: 25px;
}