@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MyApp.Shared
@attribute [Authorize]
@inject HttpClient Http

<div class="project-feed">
    @if (projects != null)
    {
        @foreach (var item in projects)
        {
            <ProjectBox id="@item.Id" name="@item.Name" description="@item.Description" tags="@item.Tags"></ProjectBox>
        }
    }
    else
    {
        <LoadingScreen></LoadingScreen>
    }
</div>

@code {

    [Parameter] public String searchString { get; set; } = String.Empty;
    private ProjectDTO[]? projects;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (searchString != String.Empty)
            {
                projects = await Http.GetFromJsonAsync<ProjectDTO[]>("api/Projects");
            }
            else
            {
                projects = await Http.GetFromJsonAsync<ProjectDTO[]>("api/Projects/name/" + "Algorithm HTTPS Program"); // searchstring
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}