.project-box {
  justify-content: space-evenly;
  text-align: left;
  width: 380px;
  padding: 25px;

  /* flex-direction: column; */
  display: inline-block;
  transition-duration: 0.3s;
}

.project-box:hover {
  background-color: #fefefebe;
  border-color: #fefefebe;
  width: 400px;
  padding: 25px;
  box-shadow: -4px 4px 7px 1px rgba(0, 0, 0, 0.1);
}

.descriptionBox {
  height: 3rem;
  text-overflow: ellipsis;
  white-space: initial;
  overflow: hidden;
}
