.project-feed {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 5px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
}

@media (max-width: 900px) {
  .project-feed {
    margin-left: 10px;
    margin-right: 10px;
  }
}
