.project-box {
  justify-content: space-evenly;
  text-align: left;
  width: 380px;
  margin: 15px;

  /* flex-direction: column; */
  display: inline-block;
  transition-duration: 0.3s;
}

.project-box:hover {
  background-color: #fefefebe;
  border-color: #fefefebe;
  box-shadow: -5px 5px 9px 1px rgba(0, 0, 0, 0.15);
}

.descriptionBox {
  height: 3rem;
  text-overflow: ellipsis;
  white-space: initial;
  overflow: hidden;
}
