@inject NavigationManager NavigationManager
@inject HttpClient Http

<div class="project-box mb-4 box-layout" @onclick="navigateToProject">
    <h2>@dto.Name</h2>
    @if (dto.CreatedBy != null)
    {
        <h5>@dto.CreatedBy</h5>
    }
    else
    {
        <h5>No Author</h5>
    }
    <br>
    <div class="descriptionBox">@dto.Description</div>
    <br>
    @foreach (var tag in dto.Tags)
    {
        <PassiveTag TagName="@tag"></PassiveTag>
    }
</div>

@code {
    [Parameter] public ProjectDTO? dto {get; set;}

    public void navigateToProject() {
        NavigationManager.NavigateTo("project/"+dto.Id);
    }
}