input {
  outline: none;
}

#search-bar {
  flex-grow: 4;
}

#search-bnt {
  padding-left: 1px;
  padding-right: 0;
  width: 36px;
  height: 36px;
}

#search-bar-field {
  flex-grow: 1;
  display: flex;
  justify-content: right;
}
