@page "/"
@page "/feed"
@page "/feed/{searchString}"

<p>@searchString</p>
<PageTitle>Index</PageTitle>
<ProjectFeed searchString="searchString"></ProjectFeed>
<p>@searchString</p>

@code {
    [Parameter] public String? searchString { get; set; } = String.Empty;
}