@page "/project/{id:int}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using MyApp.Shared
@attribute [Authorize]
@inject HttpClient Http

@if (project != null)
{
    <div>

        <ExpProjectBox project="@project"></ExpProjectBox>
    </div>
}
else
{
    <p>loading...</p>
}


@code {
    [Parameter] public int id { get; set; }

    private ProjectDTO? project;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            project = await Http.GetFromJsonAsync<ProjectDTO>("api/Projects/id/" + id);

        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}