@page "/project/{id:int}"
@attribute [Authorize]
@inject HttpClient Http

@if (project != null)
{
    <div>

        <ExpProjectBox project="@project"></ExpProjectBox>
    </div>
}
else
{
    <p>Could not find the project</p>
}


@code {
    [Parameter] public int id { get; set; }

    private ProjectDTO? project;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            project = await Http.GetFromJsonAsync<ProjectDTO>("api/Projects/id/" + id);

        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}