@inherits LayoutComponentBase

<div class="page">
    <main>
        <div style="height: 90px;" class="top-row px-4 auth">
            <div>
                <a href="/">
                    <svg width="158" height="42" viewBox="0 0 158 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0 39C0 38.4477 0.445781 38 0.99568 38H40.8229C41.3728 38 41.8185 38.4477 41.8185 39V41C41.8185 41.5523 41.3728 42 40.8229 42H0.995681C0.445782 42 0 41.5523 0 41V39Z"
                            fill="#F3F3F3" />
                        <path
                            d="M10.1983 19.8106C10.6415 19.9219 10.9525 20.3219 10.9525 20.7808L10.9525 34C10.9525 34.5523 10.5067 35 9.9568 35H7.96544C7.41554 35 6.96976 34.5523 6.96976 34L6.96976 20.2808C6.96976 19.6302 7.57851 19.1528 8.20693 19.3106L10.1983 19.8106Z"
                            fill="#F3F3F3" />
                        <path
                            d="M33.6116 19.3106C34.24 19.1528 34.8488 19.6302 34.8488 20.2808V34C34.8488 34.5523 34.403 35 33.8531 35H31.8617C31.3119 35 30.8661 34.5523 30.8661 34V20.7808C30.8661 20.3219 31.177 19.9219 31.6203 19.8106L33.6116 19.3106Z"
                            fill="#F3F3F3" />
                        <path
                            d="M25.6462 23.3106C26.2746 23.1528 26.8834 23.6302 26.8834 24.2808V34C26.8834 34.5523 26.4376 35 25.8877 35H23.8963C23.3464 35 22.9006 34.5523 22.9006 34V24.7808C22.9006 24.3219 23.2116 23.9219 23.6548 23.8106L25.6462 23.3106Z"
                            fill="#F3F3F3" />
                        <path
                            d="M18.1637 23.8106C18.607 23.9219 18.9179 24.3219 18.9179 24.7808V34C18.9179 34.5523 18.4721 35 17.9222 35H15.9309C15.381 35 14.9352 34.5523 14.9352 34L14.9352 24.2808C14.9352 23.6302 15.5439 23.1528 16.1724 23.3106L18.1637 23.8106Z"
                            fill="#F3F3F3" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.99136 10.5C2.81621 10.5 3.48488 11.1716 3.48488 12V21C3.48488 21.8284 2.81621 22.5 1.99136 22.5C1.16651 22.5 0.49784 21.8284 0.49784 21V12C0.49784 11.1716 1.16651 10.5 1.99136 10.5ZM1.99136 24.5C2.81621 24.5 3.48488 25.1716 3.48488 26V30C3.48488 30.8284 2.81621 31.5 1.99136 31.5C1.16651 31.5 0.49784 30.8284 0.49784 30V26C0.49784 25.1716 1.16651 24.5 1.99136 24.5Z"
                            fill="#F3F3F3" />
                        <path
                            d="M19.9548 0.203829C20.484 -0.0659162 21.1128 -0.0680399 21.6439 0.198125L40.5756 9.68699C42.3324 10.5675 42.1976 13.0806 40.3564 13.7742L21.4919 20.8798C21.0465 21.0476 20.5525 21.0394 20.1131 20.8571L2.33001 13.4788C1.47696 13.1249 0.704729 12.8356 0.483276 11.9357C0.178362 10.6966 1.50553 9.60833 2.63875 9.03067L19.9548 0.203829Z"
                            fill="#F3F3F3" />
                        <path
                            d="M63.9127 3.3C65.2369 3.3 66.3869 3.524 67.3627 3.972C68.3385 4.406 69.0912 5.036 69.6209 5.862C70.1506 6.674 70.4155 7.633 70.4155 8.739C70.4155 9.845 70.1506 10.804 69.6209 11.616C69.0912 12.428 68.3385 13.058 67.3627 13.506C66.3869 13.94 65.2369 14.157 63.9127 14.157H61.8596C61.5846 14.157 61.3617 14.3809 61.3617 14.657V17.5C61.3617 17.7761 61.1389 18 60.8639 18H57.7196C57.4446 18 57.2217 17.7761 57.2217 17.5V3.8C57.2217 3.52386 57.4446 3.3 57.7196 3.3H63.9127ZM63.6618 10.881C64.5121 10.881 65.1533 10.699 65.5854 10.335C66.0175 9.957 66.2336 9.425 66.2336 8.739C66.2336 8.053 66.0175 7.521 65.5854 7.143C65.1533 6.765 64.5121 6.576 63.6618 6.576H61.6605C61.4955 6.576 61.3617 6.71031 61.3617 6.876V10.581C61.3617 10.7467 61.4955 10.881 61.6605 10.881H63.6618Z"
                            fill="#F3F3F3" />
                        <path
                            d="M78.9805 14.3121C78.8877 14.1756 78.7339 14.094 78.5694 14.094H77.0719C76.797 14.094 76.5741 14.3179 76.5741 14.594V17.5C76.5741 17.7761 76.3512 18 76.0762 18H72.9319C72.6569 18 72.434 17.7761 72.434 17.5V3.8C72.434 3.52386 72.6569 3.3 72.9319 3.3H79.125C80.4492 3.3 81.5993 3.524 82.575 3.972C83.5508 4.406 84.3035 5.036 84.8332 5.862C85.3629 6.674 85.6278 7.633 85.6278 8.739C85.6278 9.803 85.3769 10.734 84.875 11.532C84.4243 12.2563 83.7892 12.8372 82.9697 13.2747C82.8621 13.3321 82.8253 13.4708 82.8942 13.5717L85.3854 17.2171C85.6122 17.5488 85.3757 18 84.975 18H81.7506C81.5861 18 81.4323 17.9184 81.3395 17.7819L78.9805 14.3121ZM81.4459 8.739C81.4459 8.053 81.2299 7.521 80.7977 7.143C80.3656 6.765 79.7244 6.576 78.8741 6.576H76.8728C76.7078 6.576 76.5741 6.71031 76.5741 6.876V10.581C76.5741 10.7467 76.7078 10.881 76.8728 10.881H78.8741C79.7244 10.881 80.3656 10.699 80.7977 10.335C81.2299 9.957 81.4459 9.425 81.4459 8.739Z"
                            fill="#F3F3F3" />
                        <path
                            d="M95.2928 18.294C93.7455 18.294 92.3515 17.965 91.1109 17.307C89.8842 16.649 88.9154 15.739 88.2045 14.577C87.5075 13.415 87.1591 12.106 87.1591 10.65C87.1591 9.194 87.5075 7.885 88.2045 6.723C88.9154 5.561 89.8842 4.651 91.1109 3.993C92.3515 3.335 93.7455 3.006 95.2928 3.006C96.8401 3.006 98.227 3.335 99.4537 3.993C100.694 4.651 101.663 5.561 102.36 6.723C103.071 7.885 103.426 9.194 103.426 10.65C103.426 12.106 103.071 13.415 102.36 14.577C101.663 15.739 100.694 16.649 99.4537 17.307C98.227 17.965 96.8401 18.294 95.2928 18.294ZM95.2928 14.85C96.0316 14.85 96.7007 14.675 97.3001 14.325C97.8995 13.975 98.3734 13.485 98.7219 12.855C99.0704 12.211 99.2446 11.476 99.2446 10.65C99.2446 9.824 99.0704 9.096 98.7219 8.466C98.3734 7.822 97.8995 7.325 97.3001 6.975C96.7007 6.625 96.0316 6.45 95.2928 6.45C94.554 6.45 93.8849 6.625 93.2855 6.975C92.6861 7.325 92.2121 7.822 91.8636 8.466C91.5152 9.096 91.3409 9.824 91.3409 10.65C91.3409 11.476 91.5152 12.211 91.8636 12.855C92.2121 13.485 92.6861 13.975 93.2855 14.325C93.8849 14.675 94.554 14.85 95.2928 14.85Z"
                            fill="#F3F3F3" />
                        <path
                            d="M108.488 18.294C107.414 18.294 106.439 18.112 105.56 17.748C104.817 17.4279 104.188 16.9924 103.674 16.4415C103.512 16.2673 103.517 15.9995 103.67 15.817L105.266 13.9179C105.471 13.6739 105.847 13.6849 106.065 13.9166C106.732 14.6229 107.442 14.976 108.195 14.976C108.794 14.976 109.247 14.794 109.554 14.43C109.875 14.066 110.035 13.534 110.035 12.834V6.813C110.035 6.64731 109.901 6.513 109.736 6.513H105.473C105.198 6.513 104.975 6.28914 104.975 6.013V3.8C104.975 3.52386 105.198 3.3 105.473 3.3H113.635C113.91 3.3 114.133 3.52386 114.133 3.8V12.582C114.133 14.486 113.652 15.914 112.69 16.866C111.743 17.818 110.342 18.294 108.488 18.294Z"
                            fill="#F3F3F3" />
                        <path
                            d="M128.181 14.787C128.456 14.787 128.679 15.0109 128.679 15.287V17.5C128.679 17.7761 128.456 18 128.181 18H117.425C117.15 18 116.927 17.7761 116.927 17.5V3.8C116.927 3.52386 117.15 3.3 117.425 3.3H127.909C128.184 3.3 128.407 3.52386 128.407 3.8V6.013C128.407 6.28914 128.184 6.513 127.909 6.513H121.324C121.159 6.513 121.026 6.64731 121.026 6.813V8.691C121.026 8.85668 121.159 8.991 121.324 8.991H127.031C127.306 8.991 127.528 9.21486 127.528 9.491V11.599C127.528 11.8751 127.306 12.099 127.031 12.099H121.324C121.159 12.099 121.026 12.2333 121.026 12.399V14.487C121.026 14.6527 121.159 14.787 121.324 14.787H128.181Z"
                            fill="#F3F3F3" />
                        <path
                            d="M138.253 18.294C136.719 18.294 135.339 17.972 134.113 17.328C132.9 16.67 131.945 15.76 131.248 14.598C130.551 13.436 130.203 12.12 130.203 10.65C130.203 9.18 130.551 7.864 131.248 6.702C131.945 5.54 132.9 4.637 134.113 3.993C135.339 3.335 136.719 3.006 138.253 3.006C139.591 3.006 140.797 3.244 141.87 3.72C142.796 4.1306 143.587 4.69747 144.243 5.4206C144.42 5.61572 144.395 5.91597 144.2 6.09309L142.297 7.82176C142.087 8.0127 141.763 7.98713 141.563 7.78487C140.686 6.89496 139.652 6.45 138.462 6.45C137.667 6.45 136.956 6.625 136.329 6.975C135.716 7.325 135.235 7.822 134.886 8.466C134.552 9.096 134.385 9.824 134.385 10.65C134.385 11.476 134.552 12.211 134.886 12.855C135.235 13.485 135.716 13.975 136.329 14.325C136.956 14.675 137.667 14.85 138.462 14.85C139.652 14.85 140.686 14.405 141.563 13.5151C141.763 13.3129 142.087 13.2873 142.297 13.4782L144.2 15.2069C144.395 15.384 144.42 15.6843 144.243 15.8794C143.587 16.6025 142.796 17.1694 141.87 17.58C140.797 18.056 139.591 18.294 138.253 18.294Z"
                            fill="#F3F3F3" />
                        <path
                            d="M149.385 7.097C149.385 6.82086 149.162 6.597 148.888 6.597H145.388C145.113 6.597 144.89 6.37314 144.89 6.097V3.8C144.89 3.52386 145.113 3.3 145.388 3.3H157.502C157.777 3.3 158 3.52386 158 3.8V6.097C158 6.37314 157.777 6.597 157.502 6.597H154.023C153.748 6.597 153.525 6.82086 153.525 7.097V17.5C153.525 17.7761 153.303 18 153.028 18H149.883C149.608 18 149.385 17.7761 149.385 17.5V7.097Z"
                            fill="#F3F3F3" />
                        <path
                            d="M68.8727 33.1002C68.7266 33.1972 68.7431 33.4358 68.9024 33.5089C69.5359 33.7997 70.0472 34.2037 70.4364 34.721C70.9103 35.337 71.1473 36.086 71.1473 36.968C71.1473 38.256 70.6315 39.25 69.6 39.95C68.5685 40.65 67.077 41 65.1254 41H57.7196C57.4446 41 57.2217 40.7761 57.2217 40.5V26.8C57.2217 26.5239 57.4446 26.3 57.7196 26.3H64.7072C66.5751 26.3 67.997 26.65 68.9727 27.35C69.9485 28.036 70.4364 28.967 70.4364 30.143C70.4364 30.843 70.2621 31.473 69.9136 32.033C69.6545 32.456 69.3075 32.8117 68.8727 33.1002ZM61.6186 29.303C61.4537 29.303 61.3199 29.4373 61.3199 29.603V31.838C61.3199 32.0037 61.4537 32.138 61.6186 32.138H64.1636C65.5575 32.138 66.2545 31.662 66.2545 30.71C66.2545 29.772 65.5575 29.303 64.1636 29.303H61.6186ZM64.7909 37.997C66.2406 37.997 66.9654 37.5 66.9654 36.506C66.9654 35.512 66.2406 35.015 64.7909 35.015H61.6186C61.4537 35.015 61.3199 35.1493 61.3199 35.315V37.697C61.3199 37.8627 61.4537 37.997 61.6186 37.997H64.7909Z"
                            fill="#F3F3F3" />
                        <path
                            d="M83.2239 38.4565C83.1479 38.2676 82.9653 38.144 82.7624 38.144H77.2446C77.0417 38.144 76.8592 38.2676 76.7831 38.4565L75.8848 40.6875C75.8087 40.8764 75.6261 41 75.4233 41H72.2992C71.9395 41 71.6985 40.6286 71.8438 40.2981L77.8652 26.5981C77.9448 26.4169 78.1234 26.3 78.3206 26.3H81.7495C81.9465 26.3 82.125 26.4166 82.2047 26.5975L88.2457 40.2975C88.3914 40.6281 88.1504 41 87.7905 41H84.5838C84.3809 41 84.1983 40.8764 84.1222 40.6875L83.2239 38.4565ZM81.5907 35.078C81.7317 35.078 81.8281 34.9349 81.7755 34.8034L80.1883 30.8359C80.1214 30.6686 79.8856 30.6686 79.8187 30.8359L78.2315 34.8034C78.1789 34.9349 78.2753 35.078 78.4163 35.078H81.5907Z"
                            fill="#F3F3F3" />
                        <path
                            d="M103.157 26.3C103.432 26.3 103.655 26.5239 103.655 26.8V40.5C103.655 40.7761 103.432 41 103.157 41H100.481C100.332 41 100.192 40.9336 100.097 40.819L94.138 33.5943C94.019 33.4501 93.7855 33.5346 93.7855 33.7219V40.5C93.7855 40.7761 93.5626 41 93.2877 41H90.2269C89.952 41 89.7291 40.7761 89.7291 40.5V26.8C89.7291 26.5239 89.952 26.3 90.2269 26.3H92.9033C93.0515 26.3 93.192 26.3664 93.2866 26.481L99.2458 33.7057C99.3648 33.8499 99.5983 33.7654 99.5983 33.5781V26.8C99.5983 26.5239 99.8212 26.3 100.096 26.3H103.157Z"
                            fill="#F3F3F3" />
                        <path
                            d="M112.435 35.9403C112.322 35.796 112.108 35.7867 111.983 35.9208L110.808 37.1808C110.721 37.2734 110.673 37.3956 110.673 37.5226V40.5C110.673 40.7761 110.45 41 110.175 41H107.073C106.798 41 106.575 40.7761 106.575 40.5V26.8C106.575 26.5239 106.798 26.3 107.073 26.3H110.175C110.45 26.3 110.673 26.5239 110.673 26.8V31.9028C110.673 32.0844 110.895 32.172 111.018 32.0391L116.192 26.4592C116.286 26.3577 116.418 26.3 116.556 26.3H119.761C120.195 26.3 120.421 26.8187 120.127 27.139L115.089 32.6238C114.99 32.7313 114.983 32.8947 115.072 33.0105L120.592 40.1945C120.845 40.5232 120.612 41 120.198 41H116.644C116.491 41 116.347 40.9297 116.253 40.8093L112.435 35.9403Z"
                            fill="#F3F3F3" />
                    </svg>
                </a>
            </div>
            <div>
                <LoginDisplay />
                <a style="color: #f3f3f3;" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>