@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 auth">
            <svg height="45" viewBox="0 0 236 235" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 218.214C0 215.124 2.5054 212.619 5.59597 212.619H229.435C232.525 212.619 235.031 215.124 235.031 218.214V229.405C235.031 232.495 232.525 235 229.435 235H5.59598C2.50541 235 0 232.495 0 229.405V218.214Z" fill="#F3F3F3"/>
            <path d="M57.3169 110.845C59.8081 111.468 61.5557 113.706 61.5557 116.273L61.5557 190.238C61.5557 193.328 59.0503 195.833 55.9597 195.833H44.7678C41.6772 195.833 39.1718 193.328 39.1718 190.238L39.1718 113.476C39.1718 109.836 42.5931 107.165 46.125 108.048L57.3169 110.845Z" fill="#F3F3F3"/>
            <path d="M188.906 108.048C192.438 107.165 195.859 109.836 195.859 113.476V190.238C195.859 193.328 193.354 195.833 190.263 195.833H179.071C175.981 195.833 173.475 193.328 173.475 190.238V116.273C173.475 113.706 175.223 111.468 177.714 110.845L188.906 108.048Z" fill="#F3F3F3"/>
            <path d="M144.138 130.429C147.67 129.546 151.091 132.217 151.091 135.857V190.238C151.091 193.328 148.586 195.833 145.495 195.833H134.303C131.213 195.833 128.707 193.328 128.707 190.238V138.654C128.707 136.087 130.455 133.849 132.946 133.226L144.138 130.429Z" fill="#F3F3F3"/>
            <path d="M102.085 133.226C104.576 133.849 106.323 136.087 106.323 138.654V190.238C106.323 193.328 103.818 195.833 100.727 195.833H89.5355C86.445 195.833 83.9396 193.328 83.9396 190.238L83.9396 135.857C83.9396 132.217 87.3609 129.546 90.8928 130.429L102.085 133.226Z" fill="#F3F3F3"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.1919 58.75C15.8278 58.75 19.5859 62.5076 19.5859 67.1429V117.5C19.5859 122.135 15.8278 125.893 11.1919 125.893C6.55609 125.893 2.79799 122.135 2.79799 117.5V67.1429C2.79799 62.5076 6.55609 58.75 11.1919 58.75ZM11.1919 137.083C15.8278 137.083 19.5859 140.841 19.5859 145.476V167.857C19.5859 172.492 15.8278 176.25 11.1919 176.25C6.55609 176.25 2.79799 172.492 2.79799 167.857V145.476C2.79799 140.841 6.55609 137.083 11.1919 137.083Z" fill="#F3F3F3"/>
            <path d="M112.151 1.14047C115.125 -0.368817 118.659 -0.380699 121.644 1.10856L228.045 54.201C237.919 59.1278 237.161 73.1893 226.813 77.0698L120.79 116.828C118.287 117.766 115.51 117.721 113.041 116.701L13.0953 75.4172C8.3009 73.4369 3.96075 71.8181 2.71613 66.7829C1.00244 59.8501 8.46146 53.7609 14.8305 50.5288L112.151 1.14047Z" fill="#F3F3F3"/>
            </svg>
            <LoginDisplay />
            <a class="top-row" href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>