@using MyApp.Shared
@inject HttpClient Http

<button class="passiveTag">@TagName</button>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string TagName { get; set; }
}