.project-box {
  justify-content: space-evenly;
  text-align: left;

  width: 380px;
  height: 260px;
  padding: 25px;

  /* flex-direction: column; */
  display: inline-block;

  transition-duration: 0.3s;
}

.project-box:hover {
  /*
  background-color: #43b4f3;
  border-color: #43b4f3;
  */
  width: 382px;
  height: 262px;
  padding: 26px;
  box-shadow: -4px 4px 7px 1px rgba(0, 0, 0, 0.1);
}
