<div class="project-box mb-4 box-layout">

    <h2> Frontend HTML Project </h2>
    <h5> Author </h5>
    <br>
    <p>Are you about to write your master’s thesis or a similar project and interested in exploring Frontend and HTML?
        We're interested in working with you! Help us at GiraffeOmniSmooth AAT.</p>
    <br>

    @* <div> @for (int i = 0; i < 5; i++)
        {
        <p>Tag</p>
        }</div> *@

</div>