<div class="project-feed">
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
    <ProjectBox></ProjectBox>
</div>