<div class="project-box mb-4 box-layout">
    <div> <h3> Project Title </h3> </div>

    <div> <h5> Author </h5> </div>
    
    <div> <p>Description</p>  </div>

    @* <div> @for (int i = 0; i < 5; i++)
    {
        <p>Tag</p>   
    }</div> *@
    
    
    
</div>