<div class="tag-row">
    <div class="colum-container">
        <h6>oppe</h6>
        <button class="button-like"></button>
    </div>
    <div class="colum-container">
        <h6>oppe</h6>
        <button class="button-like"></button>
    </div>
    <h5>Test af test : "WOWOWow"</h5>
</div>
