
@inject NavigationManager NavigationManager
<div class="project-box mb-4 box-layout" @onclick="navigateToProject">
    <h2>@name</h2>
    @if (CreatedBy != null)
    {
        <h5>@CreatedBy</h5>
    } else 
    {
        <h5>No Author</h5>   
    }
    <br>
    <div class="descriptionBox">@description</div>
    @foreach (var tag in tags)
    {
        Console.WriteLine("This is a tag");
        <PassiveTag TagName="@tag"></PassiveTag>
    }
</div>

@code {
    [Parameter] public int id {get; set;}
    [Parameter] public string? name {get; set;}
    [Parameter] public string? CreatedBy {get; set;}
    [Parameter] public string? description {get; set;}
    [Parameter] public List<string>? tags {get; set;}

    public void navigateToProject() {
        NavigationManager.NavigateTo("project/"+id);
    }
}